<div class="row" style="margin-left: 30px; margin-top: 20px;">
    <div class="col-5"
        style="background-color: #fff; border-radius: 10px;  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);">
        <app-chart></app-chart>
    </div>
    <div class="col-3"
        style="background-color: #0275d8; border-radius: 10px; margin-left: 30px;  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);">
        <app-overview></app-overview>
    </div>

    <div class="col-3"
        style="background-color: #fff; border-radius: 10px; margin-left: 30px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);">
        <app-appointements></app-appointements>
    </div>

</div>
<div class="row" style="margin-left: 30px; margin-top: 50px; width: 102%; ">
    <div class="col-8" style="background-color: #fff; border-radius: 10px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.178);">
        <app-patients></app-patients>
    </div>
</div>