<div class="container row" style="color: #ffff; margin-top: 20px;">
    <h6>Aperçu mensuel</h6>
    <div class="col-6">
        <h4>{{patientsNumber}}</h4>
        <h6 style="color: rgba(255, 255, 255, 0.438);">Patients du mois</h6>
    </div>
    <div class="col-6">
            <h6 style="font-size: small;"><i class="material-icons">trending_down</i> {{pourcentage}}</h6>
            <h6 style="color: rgba(255, 255, 255, 0.438); font-size: small;">Moins que le mois précedent</h6>
    </div>
  
</div>